button {
  all: unset;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* ========== CLASSES ========== */

.block {
  display: block;
}
.flex {
  display: flex;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.inline-flex {
  display: inline-flex;
}
.display-none {
  display: none;
}

@media (min-width: 750px) {
  .block-sm {
    display: block;
  }
  .flex-sm {
    display: flex;
  }
  .inline-sm {
    display: inline;
  }
  .inline-block-sm {
    display: inline-block;
  }
  .inline-flex-sm {
    display: inline-flex;
  }
  .display-none-sm {
    display: none;
  }
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.shadow-1 {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.17);
}
.bg-white {
  background-color: #ffffff;
}

.text-cream-200 {
  color: #fff8ee;
}

.bg-cream-200 {
  background-color: #fff8ee;
}

.bg-cream-200_50 {
  background-color: rgba(255, 248, 238, 0.5);
}

.fill-cream-200 {
  fill: #fff8ee;
}

.bg-red-300 {
  background-color: #ebcccc;
}

.bg-red-100 {
  background-color: #fff5f5;
}

.bg-green {
  background-color: #9c9a26;
}

.bg-red-600 {
  background-color: #754646;
}

.bg-brown-400 {
  background-color: #805523;
}

.bg-brown-900 {
  background-color: #2f1d10;
}

.bg-yellow-300 {
  background-color: #ffdc81;
}

.fill-brown-800 {
  fill: #452d11;
}

.bg-brown-800 {
  background-color: #452d11;
}

.bg-brown-800_30 {
  background-color: rgba(69, 45, 17, 0.3);
}

.text-brown-400 {
  color: #805523;
}
.text-brown-800 {
  color: #452d11;
}

.text-brown-800_70 {
  color: rgba(69, 45, 17, 0.7);
}

.border-bottom {
  border-bottom: 1px solid black;
}

.border-top {
  border-top: 1px solid black;
}

.border-cream-200 {
  border-color: #fff8ee;
}

.border0\.25 {
  border-width: 0.25rem;
}

.border-brown_28 {
  border-color: rgba(128, 85, 35, 0.28);
}

.p0\.2 {
  padding: 0.2rem;
}

.p1x {
  padding: 0.5rem;
}

.p2x {
  padding: 1rem;
}

.pb2x {
  padding-bottom: 1rem;
}

.pt2x {
  padding-top: 1rem;
}

.pt3x {
  padding-top: 1.5rem;
}

.py2x {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.px2x {
  padding-right: 1rem;
  padding-left: 1rem;
}

.p3x {
  padding: 1.5rem;
}

.py0\.2 {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.px1x {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px3x {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.ml1x {
  margin-left: 0.5rem;
}

.mr1x {
  margin-right: 0.5rem;
}

.t-1x {
  top: -0.5rem;
}

.r-1x {
  right: -0.5rem;
}

.radius1x {
  border-radius: 0.5rem;
}

.radius0\.25 {
  border-radius: 0.25rem;
}

.radius100p {
  border-radius: 100%;
}

.fz12px {
  font-size: 12px;
}

.fz14px {
  font-size: 14px;
}

.fz20px {
  font-size: 20px;
}

.fz24px {
  font-size: 24px;
}

.text-uppercase {
  text-transform: uppercase;
}

.radius0\.25 {
  border-radius: 0.25rem;
}

.radius0\.5 {
  border-radius: 0.5rem;
}

.min-h100vh {
  min-height: 100vh;
}

.shadow1 {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}

.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-start {
  justify-content: flex-start;
}

.items-baseline {
  align-items: baseline;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-start {
  align-items: flex-start;
}
.items-stretch {
  align-items: stretch;
}

.self-baseline {
  align-self: baseline;
}
.self-center {
  align-self: center;
}
.self-end {
  align-self: flex-end;
}
.self-start {
  align-self: flex-start;
}
.self-stretch {
  align-self: stretch;
}

.jself-baseline {
  justify-self: baseline;
}
.jself-center {
  justify-self: center;
}
.jself-end {
  justify-self: flex-end;
}
.jself-start {
  justify-self: flex-start;
}
.jself-stretch {
  justify-self: stretch;
}

.text-bold {
  font-weight: bold;
}

.o0p {
  opacity: 0;
}

.hover-o100p:hover {
  opacity: 100;
}

.focus-o100p:focus {
  opacity: 100;
}

.ml-auto {
  margin-left: auto;
}

.sticky {
  position: sticky;
}

.radius-top1x {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.t0 {
  top: 0;
}

.z1 {
  z-index: 1;
}

.ovy-scroll {
  overflow-y: scroll;
}

.text-center {
  text-align: center;
}

/* Height */

.h1 {
  height: 1rem;
}

.h5x {
  height: 2.5rem;
}

.h8x {
  height: 4rem;
}

.h40p {
  height: 40%;
}

.h50p {
  height: 50%;
}

.h100p {
  height: 100%;
}

/* Width */

.w1 {
  width: 1rem;
}

.w40p {
  width: 40%;
}

.w50p {
  width: 50%;
}

.w100p {
  width: 100%;
}

/* Margin */

.mt1x {
  margin-top: 0.5rem;
}

.mb1x {
  margin-bottom: 0.5rem;
}

.mb0\.25 {
  margin-bottom: 0.25rem;
}

.my1x {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.mb2x {
  margin-bottom: 1rem;
}

.mb3x {
  margin-bottom: 1.5rem;
}

.mb6x {
  margin-bottom: 3rem;
}

/* Grid */

.critter-card__header {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  grid-template-areas: "critter-image critter-name-where";
}

.critter-card__details {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.grid-critter-image {
  grid-area: critter-image;
}

.grid-critter-name {
  grid-area: critter-name;
}

.grid-critter-where {
  grid-area: critter-where;
}

.layout-critter-list {
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  overflow-y: scroll;
  padding: 1.5rem;
  align-content: start;
}

.layout-main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.layout-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.layout-stats-header {
  display: grid;
  gap: 1rem;
  grid-template-columns: max-content max-content auto;
}

.layout-form {
  display: grid;
  gap: 0.5rem 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
